In [2]:
import pandas as pd

#### Import data

In [3]:
hospice_df = pd.read_csv('data/Hospice_General_Information.csv')
hospice_df.head(2)

,CMS Certification Number (CCN),Facility Name,Address Line 1,Address Line 2,City,State,Zip Code,County Name,PhoneNumber,CMS Region,Ownership Type,Certification Date
0,11500,BAPTIST HOSPICE,301 INTERSTATE PARK,NaN,MONTGOMERY,AL,36109,Montgomery,(334) 395-5000,4,Other,03/23/1984
1,11501,SOUTHERNCARE NEW BEACON N. BIRMINGHAM,"4735 NORREL DRIVE, SUITE 129",NaN,TRUSSVILLE,AL,35173,Jefferson,(205) 939-8799,4,For-Profit,05/24/1984

In [5]:
hospice_df = hospice_df.loc[hospice_df.State == "TN"]
hospice_df.head(2)

,CMS Certification Number (CCN),Facility Name,Address Line 1,Address Line 2,City,State,Zip Code,County Name,PhoneNumber,CMS Region,Ownership Type,Certification Date
2889,441501,ALIVE HOSPICE INC,1718 PATTERSON ROAD,NaN,NASHVILLE,TN,37203,Davidson,(615) 327-1085,4,Non-Profit,04/10/1984
2890,441502,METHODIST ALLIANCE HOSPICE,"6400 SHELBY VIEW DRIVE, SUITE 101",NaN,MEMPHIS,TN,38134,Shelby,(901) 516-1600,4,Non-Profit,08/31/1984

In [7]:
# Facility Name, Address Line 1, City, State, County Name, CMS Region, Ownership Type, and Cerfification Date
hospice_df.columns = ['ccn', 'facility', 'address', 'address2', 'city', 'state', 'zip', 'county', 'phone', 'region', 'owner_type', 'cert_date']
hospice_df.head(2)

,ccn,facility,address,address2,city,state,zip,county,phone,region,owner_type,cert_date
2889,441501,ALIVE HOSPICE INC,1718 PATTERSON ROAD,NaN,NASHVILLE,TN,37203,Davidson,(615) 327-1085,4,Non-Profit,04/10/1984
2890,441502,METHODIST ALLIANCE HOSPICE,"6400 SHELBY VIEW DRIVE, SUITE 101",NaN,MEMPHIS,TN,38134,Shelby,(901) 516-1600,4,Non-Profit,08/31/1984

In [8]:
hospice_df = hospice_df.drop(columns = ['ccn', 'address2', 'zip', 'phone'])
hospice_df.head(2)

,facility,address,city,state,county,region,owner_type,cert_date
2889,ALIVE HOSPICE INC,1718 PATTERSON ROAD,NASHVILLE,TN,Davidson,4,Non-Profit,04/10/1984
2890,METHODIST ALLIANCE HOSPICE,"6400 SHELBY VIEW DRIVE, SUITE 101",MEMPHIS,TN,Shelby,4,Non-Profit,08/31/1984

In [11]:
print('top',hospice_df.head())
print('-------------------------------')
print('bottom', hospice_df.tail())

top                                 facility                            address  \
2889                   ALIVE HOSPICE INC                1718 PATTERSON ROAD
2890          METHODIST ALLIANCE HOSPICE  6400 SHELBY VIEW DRIVE, SUITE 101
2891          HOSPICE OF CHATTANOOGA INC                 4411 OAKWOOD DRIVE
2892               AMEDISYS HOSPICE CARE          6570 STAGE ROAD SUITE 110
2893  NORTHCREST HOME HEALTH AND HOSPICE               212 NORTHCREST DRIVE

             city state     county  region  owner_type   cert_date
2889    NASHVILLE    TN   Davidson       4  Non-Profit  04/10/1984
2890      MEMPHIS    TN     Shelby       4  Non-Profit  08/31/1984
2891  CHATTANOOGA    TN   Hamilton       4  Non-Profit  06/30/1986
2892     BARTLETT    TN     Shelby       4  For-Profit  02/09/1987
2893  SPRINGFIELD    TN  Robertson       4       Other  07/13/1987
-------------------------------
bottom                                   facility                        address  \
2940        ENCOMPASS HOSPICE OF TENNESSEE    828 ROYAL PARKWAY SUITE 113
2941                       QUALITY HOSPICE        341 WEST CENTRAL AVENUE
2942                        HEARTH HOSPICE  1800A ROSSVILLE AVE SUITE 114
2943  AMEDISYS HOSPICE, AN ADVENTA COMPANY              400 ROYAL PARKWAY
2944                       KINDRED HOSPICE        430 STUART RD NE, STE 2

             city state    county  region  owner_type   cert_date
2940    NASHVILLE    TN  Davidson       4  For-Profit  06/16/2010
2941    JAMESTOWN    TN  Fentress       4  For-Profit  01/04/2013
2942  CHATTANOOGA    TN  Hamilton       4  For-Profit  03/22/2013
2943    NASHVILLE    TN  Davidson       4       Other  01/05/2016
2944    CLEVELAND    TN   Bradley       4  For-Profit  01/04/2017

In [12]:
# print dimensions
hospice_df.shape

(56, 8)

In [20]:
cancer_df = pd.read_csv('data/cancer_deaths.csv', skiprows= 4, nrows= 97)
cancer_df.head()

,County,FIPS,Met Healthy People Objective of 161.4?,"Age-Adjusted Death Rate - deaths per 100,000",Lower 95% Confidence Interval,Upper 95% Confidence Interval,Average Annual Count,Recent Trend,Recent 5-Year Trend in Death Rates,Lower 95% Confidence Interval.1,Upper 95% Confidence Interval.1
0,Tennessee,47999,No,185.4,184.0,186.8,13933,falling,-1.4,-1.5,-1.2
1,United States,0,No,163.5,163.3,163.7,586354,falling,-1.5,-1.6,-1.5
2,Trousdale County,47169,No,265.5,219.0,319.1,24,stable,0.0,-1.3,1.3
3,Scott County,47151,No,241.0,214.5,270.0,63,stable,-0.5,-1.1,0.1
4,Cheatham County,47021,No,239.6,217.8,263.0,97,stable,-0.6,-1.4,0.3

In [21]:
cancer_df.tail()

,County,FIPS,Met Healthy People Objective of 161.4?,"Age-Adjusted Death Rate - deaths per 100,000",Lower 95% Confidence Interval,Upper 95% Confidence Interval,Average Annual Count,Recent Trend,Recent 5-Year Trend in Death Rates,Lower 95% Confidence Interval.1,Upper 95% Confidence Interval.1
92,Van Buren County,47175,Yes,160.3,122.7,207.4,14,stable,-0.9,-2.4,0.6
93,Pickett County,47137,Yes,158.7,123.3,203.9,15,stable,-0.5,-1.8,0.9
94,Fayette County,47047,Yes,154.3,139.1,170.7,81,falling,-1.4,-2.2,-0.5
95,Williamson County,47187,Yes,127.2,119.8,134.9,239,falling,-3.8,-4.8,-2.9
96,Moore County,47127,Yes,123.2,93.9,160.5,12,falling,-2.1,-3.8,-0.4

In [22]:
cancer_df.shape

(97, 11)

In [24]:
cancer_df.columns = ['county', 'fips', 'met_healthy', 'death_rate','drlow_ci', 'drhigh_ci', 'ave_count_y', 
                     'trend', 'death_trend', 'dtlow_ci', 'dthigh_ci']
cancer_df.head()

,county,fips,met_healthy,death_rate,drlow_ci,drhigh_ci,ave_count_y,trend,death_trend,dtlow_ci,dthigh_ci
0,Tennessee,47999,No,185.4,184.0,186.8,13933,falling,-1.4,-1.5,-1.2
1,United States,0,No,163.5,163.3,163.7,586354,falling,-1.5,-1.6,-1.5
2,Trousdale County,47169,No,265.5,219.0,319.1,24,stable,0.0,-1.3,1.3
3,Scott County,47151,No,241.0,214.5,270.0,63,stable,-0.5,-1.1,0.1
4,Cheatham County,47021,No,239.6,217.8,263.0,97,stable,-0.6,-1.4,0.3

In [26]:
pop_df = pd.read_csv('data/PEP_2017_PEPAGESEX.csv')
pop_df.head()

,GEO.id,GEO.id2,GEO.display-label,cen42010sex0_age999,cen42010sex1_age999,cen42010sex2_age999,est42010sex0_age999,est42010sex1_age999,est42010sex2_age999,est72010sex0_age999,...,est72014sex2_medage,est72015sex0_medage,est72015sex1_medage,est72015sex2_medage,est72016sex0_medage,est72016sex1_medage,est72016sex2_medage,est72017sex0_medage,est72017sex1_medage,est72017sex2_medage
0,Id,Id2,Geography,"April 1, 2010 - Census - Both Sexes; Total","April 1, 2010 - Census - Male; Total","April 1, 2010 - Census - Female; Total","April 1, 2010 - Estimates Base - Both Sexes; T...","April 1, 2010 - Estimates Base - Male; Total","April 1, 2010 - Estimates Base - Female; Total",Population Estimate (as of July 1) - 2010 - Bo...,...,Population Estimate (as of July 1) - 2014 - Fe...,Population Estimate (as of July 1) - 2015 - Bo...,Population Estimate (as of July 1) - 2015 - Ma...,Population Estimate (as of July 1) - 2015 - Fe...,Population Estimate (as of July 1) - 2016 - Bo...,Population Estimate (as of July 1) - 2016 - Ma...,Population Estimate (as of July 1) - 2016 - Fe...,Population Estimate (as of July 1) - 2017 - Bo...,Population Estimate (as of July 1) - 2017 - Ma...,Population Estimate (as of July 1) - 2017 - Fe...
1,0500000US47001,47001,"Anderson County, Tennessee",75129,36308,38821,75094,36288,38806,75112,...,44.8,43.3,41.4,44.8,43.3,41.5,45.1,43.2,41.2,45.0
2,0500000US47003,47003,"Bedford County, Tennessee",45058,22357,22701,45056,22356,22700,45086,...,38.4,37.2,35.9,38.5,37.5,36.2,38.8,37.5,36.2,38.9
3,0500000US47005,47005,"Benton County, Tennessee",16489,8073,8416,16491,8074,8417,16511,...,48.3,46.6,45.2,48.0,47.1,45.7,48.4,47.4,46.0,48.7
4,0500000US47007,47007,"Bledsoe County, Tennessee",12876,6964,5912,12872,6962,5910,12882,...,46.3,43.4,41.7,46.5,43.5,41.9,46.4,43.9,42.1,47.3

In [28]:
pop_df.shape

(96, 993)

In [42]:
pop_df_clean = pop_df[pop_df.columns.drop(list(pop_df.filter(regex='cen')))]

In [43]:
pop_df_clean.head()

,GEO.id,GEO.id2,GEO.display-label,est42010sex0_age999,est42010sex1_age999,est42010sex2_age999,est72010sex0_age999,est72010sex1_age999,est72010sex2_age999,est72011sex0_age999,...,est72014sex2_medage,est72015sex0_medage,est72015sex1_medage,est72015sex2_medage,est72016sex0_medage,est72016sex1_medage,est72016sex2_medage,est72017sex0_medage,est72017sex1_medage,est72017sex2_medage
0,Id,Id2,Geography,"April 1, 2010 - Estimates Base - Both Sexes; T...","April 1, 2010 - Estimates Base - Male; Total","April 1, 2010 - Estimates Base - Female; Total",Population Estimate (as of July 1) - 2010 - Bo...,Population Estimate (as of July 1) - 2010 - Ma...,Population Estimate (as of July 1) - 2010 - Fe...,Population Estimate (as of July 1) - 2011 - Bo...,...,Population Estimate (as of July 1) - 2014 - Fe...,Population Estimate (as of July 1) - 2015 - Bo...,Population Estimate (as of July 1) - 2015 - Ma...,Population Estimate (as of July 1) - 2015 - Fe...,Population Estimate (as of July 1) - 2016 - Bo...,Population Estimate (as of July 1) - 2016 - Ma...,Population Estimate (as of July 1) - 2016 - Fe...,Population Estimate (as of July 1) - 2017 - Bo...,Population Estimate (as of July 1) - 2017 - Ma...,Population Estimate (as of July 1) - 2017 - Fe...
1,0500000US47001,47001,"Anderson County, Tennessee",75094,36288,38806,75112,36292,38820,75173,...,44.8,43.3,41.4,44.8,43.3,41.5,45.1,43.2,41.2,45.0
2,0500000US47003,47003,"Bedford County, Tennessee",45056,22356,22700,45086,22364,22722,45227,...,38.4,37.2,35.9,38.5,37.5,36.2,38.8,37.5,36.2,38.9
3,0500000US47005,47005,"Benton County, Tennessee",16491,8074,8417,16511,8085,8426,16488,...,48.3,46.6,45.2,48.0,47.1,45.7,48.4,47.4,46.0,48.7
4,0500000US47007,47007,"Bledsoe County, Tennessee",12872,6962,5910,12882,6969,5913,12906,...,46.3,43.4,41.7,46.5,43.5,41.9,46.4,43.9,42.1,47.3

In [46]:
pop_df_clean = pop_df_clean[pop_df_clean.columns.drop(list(pop_df_clean.filter(regex='sex1')))]
pop_df_clean = pop_df_clean[pop_df_clean.columns.drop(list(pop_df_clean.filter(regex='sex2')))]
pop_df_clean.head()

,GEO.id,GEO.id2,GEO.display-label,est42010sex0_age999,est72010sex0_age999,est72011sex0_age999,est72012sex0_age999,est72013sex0_age999,est72014sex0_age999,est72015sex0_age999,...,est72017sex0_age15to44,est42010sex0_medage,est72010sex0_medage,est72011sex0_medage,est72012sex0_medage,est72013sex0_medage,est72014sex0_medage,est72015sex0_medage,est72016sex0_medage,est72017sex0_medage
0,Id,Id2,Geography,"April 1, 2010 - Estimates Base - Both Sexes; T...",Population Estimate (as of July 1) - 2010 - Bo...,Population Estimate (as of July 1) - 2011 - Bo...,Population Estimate (as of July 1) - 2012 - Bo...,Population Estimate (as of July 1) - 2013 - Bo...,Population Estimate (as of July 1) - 2014 - Bo...,Population Estimate (as of July 1) - 2015 - Bo...,...,Population Estimate (as of July 1) - 2017 - Bo...,"April 1, 2010 - Estimates Base - Both Sexes; M...",Population Estimate (as of July 1) - 2010 - Bo...,Population Estimate (as of July 1) - 2011 - Bo...,Population Estimate (as of July 1) - 2012 - Bo...,Population Estimate (as of July 1) - 2013 - Bo...,Population Estimate (as of July 1) - 2014 - Bo...,Population Estimate (as of July 1) - 2015 - Bo...,Population Estimate (as of July 1) - 2016 - Bo...,Population Estimate (as of July 1) - 2017 - Bo...
1,0500000US47001,47001,"Anderson County, Tennessee",75094,75112,75173,75196,75258,75131,75459,...,26515,42.6,42.6,42.8,42.9,43.1,43.3,43.3,43.3,43.2
2,0500000US47003,47003,"Bedford County, Tennessee",45056,45086,45227,45262,45584,46259,46892,...,18420,36.4,36.5,36.9,37.2,37.2,37.2,37.2,37.5,37.5
3,0500000US47005,47005,"Benton County, Tennessee",16491,16511,16488,16414,16358,16176,16192,...,4933,45.5,45.6,45.9,46.3,46.6,46.7,46.6,47.1,47.4
4,0500000US47007,47007,"Bledsoe County, Tennessee",12872,12882,12906,12851,13846,14419,14483,...,5719,42.3,42.5,42.7,43.3,43.1,43.3,43.4,43.5,43.9

In [47]:
pop_df_clean = pop_df_clean[pop_df_clean.columns.drop(list(pop_df_clean.filter(regex='est4')))]

In [48]:
pop_df_clean.head()

,GEO.id,GEO.id2,GEO.display-label,est72010sex0_age999,est72011sex0_age999,est72012sex0_age999,est72013sex0_age999,est72014sex0_age999,est72015sex0_age999,est72016sex0_age999,...,est72016sex0_age15to44,est72017sex0_age15to44,est72010sex0_medage,est72011sex0_medage,est72012sex0_medage,est72013sex0_medage,est72014sex0_medage,est72015sex0_medage,est72016sex0_medage,est72017sex0_medage
0,Id,Id2,Geography,Population Estimate (as of July 1) - 2010 - Bo...,Population Estimate (as of July 1) - 2011 - Bo...,Population Estimate (as of July 1) - 2012 - Bo...,Population Estimate (as of July 1) - 2013 - Bo...,Population Estimate (as of July 1) - 2014 - Bo...,Population Estimate (as of July 1) - 2015 - Bo...,Population Estimate (as of July 1) - 2016 - Bo...,...,Population Estimate (as of July 1) - 2016 - Bo...,Population Estimate (as of July 1) - 2017 - Bo...,Population Estimate (as of July 1) - 2010 - Bo...,Population Estimate (as of July 1) - 2011 - Bo...,Population Estimate (as of July 1) - 2012 - Bo...,Population Estimate (as of July 1) - 2013 - Bo...,Population Estimate (as of July 1) - 2014 - Bo...,Population Estimate (as of July 1) - 2015 - Bo...,Population Estimate (as of July 1) - 2016 - Bo...,Population Estimate (as of July 1) - 2017 - Bo...
1,0500000US47001,47001,"Anderson County, Tennessee",75112,75173,75196,75258,75131,75459,75585,...,26203,26515,42.6,42.8,42.9,43.1,43.3,43.3,43.3,43.2
2,0500000US47003,47003,"Bedford County, Tennessee",45086,45227,45262,45584,46259,46892,47420,...,18137,18420,36.5,36.9,37.2,37.2,37.2,37.2,37.5,37.5
3,0500000US47005,47005,"Benton County, Tennessee",16511,16488,16414,16358,16176,16192,16059,...,5014,4933,45.6,45.9,46.3,46.6,46.7,46.6,47.1,47.4
4,0500000US47007,47007,"Bledsoe County, Tennessee",12882,12906,12851,13846,14419,14483,14599,...,5745,5719,42.5,42.7,43.3,43.1,43.3,43.4,43.5,43.9

In [51]:
list(pop_df_clean.columns.values)

['GEO.id',
 'GEO.id2',
 'GEO.display-label',
 'est72010sex0_age999',
 'est72011sex0_age999',
 'est72012sex0_age999',
 'est72013sex0_age999',
 'est72014sex0_age999',
 'est72015sex0_age999',
 'est72016sex0_age999',
 'est72017sex0_age999',
 'est72010sex0_age0to4',
 'est72011sex0_age0to4',
 'est72012sex0_age0to4',
 'est72013sex0_age0to4',
 'est72014sex0_age0to4',
 'est72015sex0_age0to4',
 'est72016sex0_age0to4',
 'est72017sex0_age0to4',
 'est72010sex0_age5to9',
 'est72011sex0_age5to9',
 'est72012sex0_age5to9',
 'est72013sex0_age5to9',
 'est72014sex0_age5to9',
 'est72015sex0_age5to9',
 'est72016sex0_age5to9',
 'est72017sex0_age5to9',
 'est72010sex0_age10to14',
 'est72011sex0_age10to14',
 'est72012sex0_age10to14',
 'est72013sex0_age10to14',
 'est72014sex0_age10to14',
 'est72015sex0_age10to14',
 'est72016sex0_age10to14',
 'est72017sex0_age10to14',
 'est72010sex0_age15to19',
 'est72011sex0_age15to19',
 'est72012sex0_age15to19',
 'est72013sex0_age15to19',
 'est72014sex0_age15to19',
 'est72015sex0_age15to19',
 'est72016sex0_age15to19',
 'est72017sex0_age15to19',
 'est72010sex0_age20to24',
 'est72011sex0_age20to24',
 'est72012sex0_age20to24',
 'est72013sex0_age20to24',
 'est72014sex0_age20to24',
 'est72015sex0_age20to24',
 'est72016sex0_age20to24',
 'est72017sex0_age20to24',
 'est72010sex0_age25to29',
 'est72011sex0_age25to29',
 'est72012sex0_age25to29',
 'est72013sex0_age25to29',
 'est72014sex0_age25to29',
 'est72015sex0_age25to29',
 'est72016sex0_age25to29',
 'est72017sex0_age25to29',
 'est72010sex0_age30to34',
 'est72011sex0_age30to34',
 'est72012sex0_age30to34',
 'est72013sex0_age30to34',
 'est72014sex0_age30to34',
 'est72015sex0_age30to34',
 'est72016sex0_age30to34',
 'est72017sex0_age30to34',
 'est72010sex0_age35to39',
 'est72011sex0_age35to39',
 'est72012sex0_age35to39',
 'est72013sex0_age35to39',
 'est72014sex0_age35to39',
 'est72015sex0_age35to39',
 'est72016sex0_age35to39',
 'est72017sex0_age35to39',
 'est72010sex0_age40to44',
 'est72011sex0_age40to44',
 'est72012sex0_age40to44',
 'est72013sex0_age40to44',
 'est72014sex0_age40to44',
 'est72015sex0_age40to44',
 'est72016sex0_age40to44',
 'est72017sex0_age40to44',
 'est72010sex0_age45to49',
 'est72011sex0_age45to49',
 'est72012sex0_age45to49',
 'est72013sex0_age45to49',
 'est72014sex0_age45to49',
 'est72015sex0_age45to49',
 'est72016sex0_age45to49',
 'est72017sex0_age45to49',
 'est72010sex0_age50to54',
 'est72011sex0_age50to54',
 'est72012sex0_age50to54',
 'est72013sex0_age50to54',
 'est72014sex0_age50to54',
 'est72015sex0_age50to54',
 'est72016sex0_age50to54',
 'est72017sex0_age50to54',
 'est72010sex0_age55to59',
 'est72011sex0_age55to59',
 'est72012sex0_age55to59',
 'est72013sex0_age55to59',
 'est72014sex0_age55to59',
 'est72015sex0_age55to59',
 'est72016sex0_age55to59',
 'est72017sex0_age55to59',
 'est72010sex0_age60to64',
 'est72011sex0_age60to64',
 'est72012sex0_age60to64',
 'est72013sex0_age60to64',
 'est72014sex0_age60to64',
 'est72015sex0_age60to64',
 'est72016sex0_age60to64',
 'est72017sex0_age60to64',
 'est72010sex0_age65to69',
 'est72011sex0_age65to69',
 'est72012sex0_age65to69',
 'est72013sex0_age65to69',
 'est72014sex0_age65to69',
 'est72015sex0_age65to69',
 'est72016sex0_age65to69',
 'est72017sex0_age65to69',
 'est72010sex0_age70to74',
 'est72011sex0_age70to74',
 'est72012sex0_age70to74',
 'est72013sex0_age70to74',
 'est72014sex0_age70to74',
 'est72015sex0_age70to74',
 'est72016sex0_age70to74',
 'est72017sex0_age70to74',
 'est72010sex0_age75to79',
 'est72011sex0_age75to79',
 'est72012sex0_age75to79',
 'est72013sex0_age75to79',
 'est72014sex0_age75to79',
 'est72015sex0_age75to79',
 'est72016sex0_age75to79',
 'est72017sex0_age75to79',
 'est72010sex0_age80to84',
 'est72011sex0_age80to84',
 'est72012sex0_age80to84',
 'est72013sex0_age80to84',
 'est72014sex0_age80to84',
 'est72015sex0_age80to84',
 'est72016sex0_age80to84',
 'est72017sex0_age80to84',
 'est72010sex0_age85plus',
 'est72011sex0_age85plus',
 'est72012sex0_age85plus',
 'est72013sex0_age85plus',
 'est72014sex0_age85plus',
 'est72015sex0_age85plus',
 'est72016sex0_age85plus',
 'est72017sex0_age85plus',
 'est72010sex0_age0to17',
 'est72011sex0_age0to17',
 'est72012sex0_age0to17',
 'est72013sex0_age0to17',
 'est72014sex0_age0to17',
 'est72015sex0_age0to17',
 'est72016sex0_age0to17',
 'est72017sex0_age0to17',
 'est72010sex0_age0to4r',
 'est72011sex0_age0to4r',
 'est72012sex0_age0to4r',
 'est72013sex0_age0to4r',
 'est72014sex0_age0to4r',
 'est72015sex0_age0to4r',
 'est72016sex0_age0to4r',
 'est72017sex0_age0to4r',
 'est72010sex0_age5to13',
 'est72011sex0_age5to13',
 'est72012sex0_age5to13',
 'est72013sex0_age5to13',
 'est72014sex0_age5to13',
 'est72015sex0_age5to13',
 'est72016sex0_age5to13',
 'est72017sex0_age5to13',
 'est72010sex0_age14to17',
 'est72011sex0_age14to17',
 'est72012sex0_age14to17',
 'est72013sex0_age14to17',
 'est72014sex0_age14to17',
 'est72015sex0_age14to17',
 'est72016sex0_age14to17',
 'est72017sex0_age14to17',
 'est72010sex0_age18to64',
 'est72011sex0_age18to64',
 'est72012sex0_age18to64',
 'est72013sex0_age18to64',
 'est72014sex0_age18to64',
 'est72015sex0_age18to64',
 'est72016sex0_age18to64',
 'est72017sex0_age18to64',
 'est72010sex0_age18to24',
 'est72011sex0_age18to24',
 'est72012sex0_age18to24',
 'est72013sex0_age18to24',
 'est72014sex0_age18to24',
 'est72015sex0_age18to24',
 'est72016sex0_age18to24',
 'est72017sex0_age18to24',
 'est72010sex0_age25to44',
 'est72011sex0_age25to44',
 'est72012sex0_age25to44',
 'est72013sex0_age25to44',
 'est72014sex0_age25to44',
 'est72015sex0_age25to44',
 'est72016sex0_age25to44',
 'est72017sex0_age25to44',
 'est72010sex0_age45to64',
 'est72011sex0_age45to64',
 'est72012sex0_age45to64',
 'est72013sex0_age45to64',
 'est72014sex0_age45to64',
 'est72015sex0_age45to64',
 'est72016sex0_age45to64',
 'est72017sex0_age45to64',
 'est72010sex0_age65plus',
 'est72011sex0_age65plus',
 'est72012sex0_age65plus',
 'est72013sex0_age65plus',
 'est72014sex0_age65plus',
 'est72015sex0_age65plus',
 'est72016sex0_age65plus',
 'est72017sex0_age65plus',
 'est72010sex0_age85plusr',
 'est72011sex0_age85plusr',
 'est72012sex0_age85plusr',
 'est72013sex0_age85plusr',
 'est72014sex0_age85plusr',
 'est72015sex0_age85plusr',
 'est72016sex0_age85plusr',
 'est72017sex0_age85plusr',
 'est72010sex0_age16plus',
 'est72011sex0_age16plus',
 'est72012sex0_age16plus',
 'est72013sex0_age16plus',
 'est72014sex0_age16plus',
 'est72015sex0_age16plus',
 'est72016sex0_age16plus',
 'est72017sex0_age16plus',
 'est72010sex0_age18plus',
 'est72011sex0_age18plus',
 'est72012sex0_age18plus',
 'est72013sex0_age18plus',
 'est72014sex0_age18plus',
 'est72015sex0_age18plus',
 'est72016sex0_age18plus',
 'est72017sex0_age18plus',
 'est72010sex0_age15to44',
 'est72011sex0_age15to44',
 'est72012sex0_age15to44',
 'est72013sex0_age15to44',
 'est72014sex0_age15to44',
 'est72015sex0_age15to44',
 'est72016sex0_age15to44',
 'est72017sex0_age15to44',
 'est72010sex0_medage',
 'est72011sex0_medage',
 'est72012sex0_medage',
 'est72013sex0_medage',
 'est72014sex0_medage',
 'est72015sex0_medage',
 'est72016sex0_medage',
 'est72017sex0_medage']

KeyError: (1,)